<div class="ui-g">
    <div class="ui-g-12">
        <p-dataTable [value]="pessoas" #tabela emptyMessage="Nenhuma pessoa encontrada" [responsive]="true" [paginator]="true" [rows]="filtroPessoa.pagina.size" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
            <p-column field="nome" header="Nome"></p-column>
            <p-column field="endereco.cidade" header="Cidade"></p-column>
            <p-column field="endereco.estado" header="Estado"></p-column>
            <p-column field="ativo" header="Status">
                <ng-template let-pess="rowData" pTemplate="body">
                    <div *ngIf="pess.ativo; else elseStatus">
                        <a pTooltip="Desativar" (click)="desativar(pess)" href="#" tooltipPosition="top">Ativo</a>
                    </div>
                    <ng-template #elseStatus>
                        <a pTooltip="Ativar" (click)="ativar(pess)" href="#" tooltipPosition="top">Inativo</a>
                    </ng-template>
                </ng-template>
            </p-column>
            <p-column styleClass="col-acoes">
                <ng-template let-pessoa="rowData" pTemplate="body">
                    <a pButton pTooltip="Editar" tooltipPosition="top" icon="fa-pencil"></a>
                    <button pButton pTooltip="Excluir" (click)="confirm(pessoa)" tooltipPosition="top" icon="fa-trash"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>