<div class="container">
    <form #formulario="ngForm" (ngSubmit)="lancar(formulario)">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>Novo Lançamento</h1>
            </div>
            <div class="ui-g-12">
                <p-selectButton #tipo required name="selectType" [options]="types" [(ngModel)]="lancamento.tipo"></p-selectButton>
            </div>
            <div class="ui-g-6 ui-md-3 ui-fluid">
                <label>Vencimento</label>
                <p-calendar [showIcon]="true" [(ngModel)]="lancamento.dataVencimento" ngModel #dataVencimento="ngModel" name="dataVencimento" dateFormat="dd/mm/yy" required></p-calendar>
                <app-message [control]="dataVencimento" typeError="required" text="Campo Obrigatório" severity="error"></app-message>
            </div>
            <div class="ui-g-6 ui-md-3 ui-fluid">
                <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
                <p-calendar name="dataPagamento" [(ngModel)]="lancamento.dataPagamento" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-10 ui-fluid">
                <label>Descrição</label>
                <input pInputText ngModel #descricao="ngModel" [(ngModel)]="lancamento.descricao" required minlength="5" name="descricao" type="text">
                <app-message [control]="descricao" typeError="required" text="Campo Obrigatório" severity="error"></app-message>
                <app-message [control]="descricao" typeError="minlength" text="Mínimo de {{ descricao?.errors?.minlength?.requiredLength }} caracteres" severity="error"></app-message>
            </div>
            <div class="ui-g-12 ui-md-2 ui-fluid">
                <label>Valor</label>
                <input class="col-valor" required name="valor" [(ngModel)]="lancamento.valor" currencyMask [options]="{prefix: '', thousands: '.', decimal: ',', allowNegative: false}" pInputText type="text" placeholder="0,00">
            </div>
            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Categoria</label>
                <p-dropdown placeholder="Selecione" name="dropdownCategoria" [(ngModel)]="lancamento.categoria.codigo" filterPlaceholder="digite o nome" ngModel #categoria="ngModel" required [autoWidth]="false" [options]="categorias"></p-dropdown>
                <app-message [control]="categoria" typeError="required" text="Campo Obrigatório" severity="error"></app-message>
            </div>
            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Pessoa</label>
                <p-dropdown placeholder="Selecione" filterPlaceholder="digite o nome" name="dropdownPessoa" #pessoa="ngModel" required [filter]="true" [autoWidth]="false" [options]="pessoas" [(ngModel)]="lancamento.pessoa.codigo"></p-dropdown>
                <app-message [control]="pessoa" typeError="required" text="Campo Obrigatório" severity="error"></app-message>
            </div>
            <div class="ui-g-12 ui-fluid">
                <label>Observação</label>
                <textarea pInputTextarea name="observacao" [(ngModel)]="lancamento.observacao" rows="3"></textarea>
            </div>
            <div class="ui-g-12">
                <button [disabled]="!formulario.valid" pButton type="submit" label="Salvar"></button>
                <button pButton type="button" class="ui-button-info" (click)="novo()" label="Novo"></button>
                <a href="#">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>