<div class="ui-g">
    <div class="ui-g-12">
        <p-dataTable #tabela [value]="lancamentos" emptyMessage="Nenhum lançamento encontrado" [responsive]="true" [paginator]="true" [rows]="filtroLancamento.pagina.size" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
            <p-column field="pessoa.nome" header="Pessoa"></p-column>
            <p-column field="descricao" header="Descrição"></p-column>
            <p-column styleClass="col-data" field="dataVencimento" header="Vencimento">
                <ng-template let-lanc="rowData" pTemplate="body">
                    <span>{{lanc.dataVencimento | date:'dd/MM/y'}}</span>
                </ng-template>
            </p-column>
            <p-column styleClass="col-data" field="dataPagamento" header="Pagamento">
                <ng-template let-lanc="rowData" pTemplate="body">
                    <span>{{lanc.dataPagamento | date:'dd/MM/y'}}</span>
                </ng-template>
            </p-column>
            <p-column styleClass="col-valor" field="valor" header="Valor">
                <ng-template let-lanc="rowData" pTemplate="body">
                    <span [ngStyle]="{color : lanc.tipo === 'DESPESA' ? 'red' : 'blue'}">
                  {{lanc.valor | currency:'BRL':'symbol':'1.2-2'}}
                </span>
                </ng-template>
            </p-column>
            <p-column styleClass="col-acoes">
                <ng-template let-lanc="rowData" pTemplate="body">
                    <a pButton pTooltip="Editar" tooltipPosition="top" icon="fa-pencil"></a>
                    <button pButton pTooltip="Excluir" (click)="confirm(lanc)" tooltipPosition="top" icon="fa-trash"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>